body{
	background-color:black;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	height:100vh;
}
.container{
	display:grid;
	grid-template-columns:repeat(40,1fr);
	gap:2px;
	width:600px
}

.square{
	width:15px;
	height:15px;
	background-color:rgb(29,29,29);
	transition:background 1s ease;
}

